CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.nextflow*
*.swp
trace.txt*
nextflow
nf-test/
*work/
*result/

.idea/

*.log.*

.nextflow*
trace*
*results*
*report.html*

*.project
