
profiles {

   local {
      docker.enabled = true
      singularity.enabled = false

   }

   standard {
       trace.enabled = true
   }

   cluster {
       docker.enabled = false
       singularity.enabled = true
       process.executor = 'lsf'
   }
}

process.$createDecoyDb.container = 'biocontainers/searchgui:v2.8.6_cv2'
process.$createMsgfDbIndex.container = 'quay.io/biocontainers/msgf_plus:2017.07.21--3'
process.$searchMsgf.container = 'quay.io/biocontainers/msgf_plus:2017.07.21--3'
process.$createTideIndex.container = 'biocontainers/crux:v3.2_cv3'
process.$searchTide.container = 'biocontainers/crux:v3.2_cv3'
process.$mergeSearchResults.container = 'biocontainers/pia:v1.3.0_cv2'
process.$filterPiaResults.container = 'biocontainers/pia:v1.3.0_cv2'
process.$mergeCompleteSearchResults.container = 'biocontainers/pia:v1.3.0_cv2'


