
profiles {

   local {
      docker.enabled = true
      singularity.enabled = false

   }

   standard {
       trace.enabled = true
       process {
            withName: createDecoyDB { container = "biocontainers/searchgui:v2.8.6_cv2" }
       }
       process {
            withName: createMsgfDbIndex { container = 'quay.io/biocontainers/msgf_plus:2017.07.21--3'}
       }
       process {
            withName: searchMsgf { container = 'quay.io/biocontainers/msgf_plus:2017.07.21--3'}
       }
       process { 
            withName: createTideIndex { container = 'biocontainers/crux:v3.2_cv3'}
       }
       process {
            withName: searchTide {container = 'biocontainers/crux:v3.2_cv3'}
       }
       process {
            withName: mergeSearchResults {container = 'biocontainers/pia:v1.3.0_cv2'}
       }
       process {
            withName: filterPiaResults {container = 'biocontainers/pia:v1.3.0_cv2'}
       }
       process {
        withName: mergeCompleteSearchResults {container = 'biocontainers/pia:v1.3.0_cv2'}
       }
   }

   cluster {
       docker.enabled = false
       singularity.enabled = true
       process.executor = 'lsf'
   }
}


