
profiles {

   local {
      docker.enabled = true
      singularity.enabled = false

   }

   standard {
       trace.enabled = true
   }

   cluster {
       docker.enabled = false
       singularity.enabled = true
       process.executor = 'lsf'
   }
}

process {
     withLabel: createDecoyDB { container = 'biocontainers/searchgui:v2.8.6_cv2' }
     withName: createMsgfDbIndex { container = 'quay.io/biocontainers/msgf_plus:2017.07.21--3'}
     withName: searchMsgf { container = 'quay.io/biocontainers/msgf_plus:2017.07.21--3'}
     withName: createTideIndex { container = 'biocontainers/crux:v3.2_cv3'}
     withName: searchTide {container = 'biocontainers/crux:v3.2_cv3'}
     withName: mergeSearchResults {container = 'biocontainers/pia:v1.3.0_cv2'}
     withName: filterPiaResults {container = 'biocontainers/pia:v1.3.0_cv2'}
     withName: mergeCompleteSearchResults {container = 'biocontainers/pia:v1.3.0_cv2'}
}
