profiles {

   local {
      docker.enabled = true
      singularity.enabled = false

   }

   standard {
       trace.enabled = true
   }

   cluster {
       process.executor = 'lsf'
       docker.enabled = false
       singularity.enabled = true
       singularity.autoMounts = true
       singularity.runOptions = '-B /nfs/pride/prod/archive:/nfs/pride/prod/archive:ro'
   }
}